<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>BWTLDG8C39</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>kz.jan.app</key>
		<string>match AppStore kz.jan.app</string>
		<key>kz.jan.app.NotificationService</key>
		<string>match AppStore kz.jan.app.NotificationService</string>
	</dict>
</dict>
</plist>
